{% extends "_base.html" %}

{% block title %}
Anointment Finder
{% endblock title %}

{% block content %}
<div class="outside-anointment-container">

    {% for anointment in anointments %}
    <div class="anointment-container">
        <div class="outside-img-name">
            <div class="anointment-img-link">
                <img src="{{ anointment.img_link }}" alt="{{ anointment.name }}">
            </div>
            <div class="anointment-name">
                <h1> {{ anointment.name }} </a></h1>
            </div>
        </div>
        <h2> {{ anointment.description }} </a></h2>
        <div class="outside-anointment-oil-container">
            {% for oil in anointment.oils %}
            <div class="anointment-oil-container">
                <img src="{{ oil.img_link }}" alt="{{ oil }}">
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

<div class="outside-checkbox-container">
    {% for oil in oils %}
    <div class="checkbox-container">
        <input type="checkbox" onchange='handleChange(this)' id="oil-{{ oil.name }}" name="{{ oil.name }}" />
        <img src="{{ oil.img_link }}" alt="{{ oil.name }}">
        <label for="oil-{{ oil.name }}"> {{ oil.name }} </label>
    </div>
    {% endfor %}
</div>

<script>
    const urlObj = new URL(window.location.href);
    const checkboxes = document.querySelectorAll('input[type="checkbox"]')
    const params = urlObj.searchParams

    for (const value of params.values()) {
        for (const checkbox of checkboxes) {
            if (checkbox.name === value)
                checkbox.checked = true
        }

    }

    function handleChange(checkbox) {
        params.delete('oil')

        for (const checkbox of checkboxes) {
            if (checkbox.checked === true)
                params.append('oil', checkbox.name)
        }
        reloadPage(params)
    }

    function reloadPage(params) {
        location.href = urlObj.href
    }
</script>
{% endblock content %}